
mat-toolbar {
    display: flex;
    justify-content: center;

    .panel-controls {
        flex: 0 0 auto;
    }

    .panel-title {
        flex: 0 1 100%;
        text-align: center;
    }

    ::ng-deep .category-card {
        background-color: red;
    }
}
